/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MAIN CSS
----------------- */

nav:before,
nav:after,
p:before,
p:after {
    content: "";
    display: table;
    clear: both;
}

#iconMute {
    position: absolute;
    z-index: 1002;
    bottom: 6.5%;
    right: 6.5%;
    color: #ffffff;
    font-size: 80px;
    opacity: 0.1;
    cursor: pointer;
    transition: all 2s ease-in-out;
}

header nav {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
}

li {
    position: relative;
    display: block;
    cursor: pointer;
}

li:before,
li:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #ff0000;
}

li:before {
    left: -2.5px;
}

li:after {
    right: 2.5px;
    background: #ff0000;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li:hover:before {
    background: #ff0000;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}

header ul li {
    display: inline-block;
    padding: 0 2%;
}

#icon {
    float: right;
    padding: 0 2%;
    margin-top: 15px;
    font-size: 20px;
}

.fa {
    color: #000000;
    opacity: 0.5;
}

.header {
    padding: 0 2%;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 30px;
}

#alien {
    color: #000000;
}

.fa:hover {
    opacity: 1;
}

#life {
    color: #00ff1d;
}

video {
    object-fit: cover;
}

#landing-page-video {
    width: 120%;
    height: 120%;
}

#second-page-video,
#third-page-video,
#four-page-video,
#five-page-video,
#six-page-video,
#seven-page-video,
#eight-page-video {
    width: 100%;
    height: 100%;
}

video h1,
h2 {
    z-index: 1000;
}

#title {
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    left: 0;
    right: 0;
    z-index: 999;
}

.overlayer {
    text-align: center;
}

.overlayer:hover {
    cursor: default;
}

.overlayer h1 {
    padding-left: 3%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 130px;
    letter-spacing: 100px;
}

.overlayer h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #00ff1d;
    font-size: 25px;
    letter-spacing: 60px;
    margin-top: 30px;
}

#text {
    position: absolute;
    z-index: 999;
    left: 5%;
    top: 30%;
}

#text h3 {
    padding: 15px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: transparent;
    text-shadow: 0 0 5px rgba(250, 250, 250, 0.5);
}

#text:hover h3 {
    cursor: default;
    color: #ffffff;
    text-shadow: none;
    transition: all 6s ease-in-out;
}

.section {
    position: relative;
    background-color: #000000;
}

.slider1 {
    position: relative;
    background-image: url('../images/alien_egg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.slider2 {
    position: relative;
    background-image: url('../images/alien_facehugger.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.slider3 {
    position: relative;
    background-image: url('../images/alien_birth.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.slider4 {
    position: relative;
    background-image: url('../images/alien_baby.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.slider5 {
    position: relative;
    background-image: url('../images/alien_white.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.slider6 {
    position: relative;
    background-image: url('../images/alien_black.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.infoEgg {
    padding-top: 20%;
}

.infoBaby,
.infoBirth {
    padding-top: 18%;
}

.infoBlackAlien,
.infoWhiteAlien, .infoFacehugger {
    padding-top: 15%;
}

.infoText {
    line-height: 30px;
    margin: 0 10%;
    width: 100%;
}

.infoText:hover {
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 4s ease-in-out;
}

.infoText p {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 0;
    color: transparent;
    text-shadow: 0 0 5px rgba(250, 250, 250, 0.5);
}

.infoText:hover p {
    color: #ffffff;
    text-shadow: none;
    transition: all 2s ease-in-out;
    cursor: default;
}

audio {
    display: none;
}


/*MOUSE SCROLL ICON - CHANGES IN JS
--------------------------------------*/

.scroll-downs {
    display: none;
    position: absolute;
    z-index: 999;
    left: 25%;
    bottom: 70px;
    margin: auto;
    width: 34px;
    height: 55px;
}

.scroll-downs0 {
    display: none;
    position: absolute;
    z-index: 999;
    left: 50%;
    bottom: 70px;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

#fullScreen,
#fullScreen1 {
    display: none;
    position: fixed;
    z-index: 1003;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    text-align: center;
}

#fullScreen1 h1 {
    position: relative;
    z-index: 1004;
    top: 25%;
    padding: 10%;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 60px;
}

#fullScreen h1 {
    position: absolute;
    z-index: 1004;
    top: 25%;
    padding: 10%;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 60px;
}

.comingSoon,
.officalTrailers,
.date {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 130px;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 38%;
    left: 0;
    right: 0;
    z-index: 999;
}

.comingSoon,
.officalTrailers,
.date,
.movieName:hover {
    cursor: default;
}

.officalTrailers {
    display: none
}


/* CALLED IN JS
------------------- */

.fade1,
.fade2 .fade3,
.fade4 .fade5 {
    display: inherit;
}

.movieName {
    display: none;
    text-align: center;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    left: 5%;
    right: 0;
    z-index: 999;
}

.movieName h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 130px;
    letter-spacing: 100px;
}

.movieName h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #00ff1d;
    font-size: 25px;
    letter-spacing: 60px;
    margin-top: 30px;
}

.displayNone {
    display: none;
}
